[package]
name = "mirakc-timeshift-fs"
version = "3.1.4"
authors = ["Contributors of mirakc"]
description = "A userspace filesystem to expose timeshift records as files"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false
build = "build.rs"

[dependencies]
clap = { version = "4.5.4", features = ["derive", "env"] }
fuser = { version = "0.14.0", default-features = false, features = ["abi-7-31"] }
indexmap = { version = "2.2.5", features = ["serde"] }
libc = "0.2.153"
mirakc-core = { path = "../mirakc-core" }
sanitize-filename = "0.5.0"
serde_json = { version = "1.0.115", features = ["preserve_order"] }
tracing = "0.1.40"

[dev-dependencies]
assert_matches = "1.5.0"
env_logger = "0.11.3"
test-log = { version = "0.2.15", features = ["trace"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }

[build-dependencies]
vergen = { version = "8.3.1", features = ["git", "gitcl"] }

# We don't specify versions because Dependabot cannot update crates in this section.
[target.'cfg(target_os = "macos")'.dependencies]
fuser = "*"  # There is no fusermount.
