[package]
name = "mirakc"
version = "0.18.4"
authors = ["Contributors of mirakc"]
description = "A Mirakurun-compatible PVR backend written in Rust"
edition = "2018"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
actix = "0.12.0"
clap = "2.33.3"
log = "0.4.14"
mirakc-core = { path = "../mirakc-core" }
serde_json = { version = "1.0.64", features = ["preserve_order"] }
