[package]
name = "mirakc"
version = "3.4.43"
authors = ["Contributors of mirakc"]
description = "A Mirakurun-compatible PVR backend written in Rust"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false
build = "build.rs"

[dependencies]
actlet = { path = "../actlet" }
clap = { version = "4.5.51", features = ["derive", "env"] }
chrono = { version = "0.4.42", default-features = false, features = ["clock", "serde"] }
humantime = "2.3.0"
mirakc-core = { path = "../mirakc-core" }
serde_json = { version = "1.0.145", features = ["preserve_order"] }
tempfile = "3.23.0"
tokio = { version = "1.48.0", features = ["full"] }
tracing = "0.1.41"

[build-dependencies]
vergen-gitcl = { version = "1.0.8", features = ["build"] }

[dev-dependencies]
assert_matches = "1.5.0"
serde_norway = "0.9.42"
test-log = { version = "0.2.18", default-features = false, features = ["trace"] }
