[package]
name = "mirakc-core"
version = "3.3.0-dev.0"
authors = ["Contributors of mirakc"]
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
actlet = { path = "../actlet" }
anyhow = "1.0.89"
async-trait = "0.1.83"
axum = { version = "0.7.7", features = ["http2"] }
axum-extra = { version = "0.9.4", features = ["typed-header"] }
bytes = "1.7.2"
chrono = { version = "0.4.38", default-features = false, features = ["clock", "serde"] }
chrono-jst = { path = "../chrono-jst" }
cron = "0.12.1"
futures = "0.3.30"
glob = "0.3.1"
http-body = "1.0.1"
http-body-util = "0.1.2"
humantime = "2.1.0"
humantime-serde = "1.1.1"
hyper = { version = "1.4.1", features = ["full"] }
hyper-util = "0.1"
indexmap = { version = "2.6.0", features = ["serde"] }
is-terminal = "0.4.13"
itertools = "0.13.0"
libc = "0.2.159"
maplit = "1.0.2"
mime = "0.3.17"
mustache = "0.9.0"
once_cell = "1.20.2"
path-dedot = "3.1.1"
reqwest = { version = "0.12.8", default-features = false, features = ["json"] }
reqwest-eventsource = "0.6.0"
serde = { version = "1.0.210", features = ["derive", "rc"] }
serde_json = { version = "1.0.128", features = ["preserve_order"] }
serde_yaml = "0.9.34"
serde_qs = "0.13.0"
shell-words = "1.1.0"
smallstr = { version = "0.3.0", features = ["serde"] }
thiserror = "1.0.64"
tokio = { version = "1.40.0", features = ["full"] }
tokio-stream = { version = "0.1.16", features = ["io-util"] }
tokio-util = { version = "0.7.12", features = ["codec", "io"] }
toml = "0.8.19"
tower = { version = "0.5.1", default-features = false, features = ["util", "make"] }
tower-http = { version = "0.6.1", features = ["fs", "trace"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
url = { version = "2.5.2", features = ["serde"] }
utoipa = { version = "4.2.3", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "7.1.0", features = ["axum"] }
walkdir = "2.5.0"

[dev-dependencies]
assert_matches = "1.5.0"
env_logger = "0.11.5"
mockall = "0.13.0"
pretty_assertions = "1.4.1"
static_assertions = "1.1.0"
tempfile = "3.13.0"
test-log = { version = "0.2.16", features = ["trace"] }
