[package]
name = "actlet"
version = "0.0.0"
authors = ["Contributors of mirakc"]
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[features]
default = ["derive"]
derive = ["actlet-derive"]

[dependencies]
actlet-derive = { path = "../actlet-derive", optional = true }
async-trait = "0.1.83"
once_cell = "1.20.2"
thiserror = "2.0.0"
tokio = { version = "1.41.1", features = ["full"] }
tokio-util = "0.7.12"
tracing = "0.1.40"
