name: build

on:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        runner:
          - macos-latest
          - ubuntu-latest
        rust:
          - stable
          #- nightly
    runs-on: ${{ matrix.runner }}
    continue-on-error: ${{ matrix.runner == 'macos-latest' }}  # macOS is unsupported officially
    steps:
      - uses: actions/checkout@v4
      - name: Install macfuse (macos)
        if: matrix.runner == 'macos-latest'
        run: |
          brew install macfuse pkg-config
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Build
        run: |
          cargo build -v --release
      - name: Run tests
        run: |
          cargo nextest run --release --all-features
