name: cross-build

on:
  workflow_call:

jobs:
  cross-build:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
        rust:
          - stable
          #- nightly
        target:
          # glibc
          - i686-unknown-linux-gnu         # linux/386
          - arm-unknown-linux-gnueabi      # linux/arm/v5
          - armv7-unknown-linux-gnueabihf  # linux/arv/v7
          - aarch64-unknown-linux-gnu      # linux/arm64/v8
          # musl
          - i686-unknown-linux-musl         # linux/386
          - x86_64-unknown-linux-musl       # linux/amd64
          - arm-unknown-linux-musleabi      # linux/arm/v6
          - armv7-unknown-linux-musleabihf  # linux/arm/v7
          - aarch64-unknown-linux-musl      # linux/arm64/v8
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    steps:
      - name: mirakc-arib is required for tests
        run: |
          ln -sf $(which true) /usr/local/bin/mirakc-arib
          test $(which mirakc-arib) = /usr/local/bin/mirakc-arib
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: 'clippy, rustfmt'
      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
      # TODO(ci): use cache
      - uses: taiki-e/install-action@nextest
      - name: Build
        run: |
          cargo build -v --release
      - name: Run tests
        run: |
          cargo nextest run --release --all-features
        env:
          RUST_LOG: debug
          # FIXME(ci): The following test randomly fails in the `cross-build` workflow for an
          # unclear reason.  We have not succeeded reproducing the failure locally, but the command
          # that doesn't exist can be spawned successfully for some mysterious reason...
          MIRAKC_CI_CROSS_BUILD_WORKAROUND: ${{ contains(matrix.target, 'gnu') }}
