name: daily-on-release

on:
  schedule:
    - cron: '16 16 * * *' # UTC

jobs:
  update:
    uses: ./.github/workflows/update.yml
    with:
      ref-name: release
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
