name: daily-stale

on:
  schedule:
    - cron: '0 0 * * *'  # UTC

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          stale-issue-message: >-
            This issue is stale because it has been open 30 days with no activity.
            Remove stale label or comment or this will be closed in 7 days.
          close-issue-message: >-
            This issue was closed because it has been stalled for 7 days with no activity.
          days-before-stale: 30
          days-before-close: 7
          stale-issue-label: 'stale'
          exempt-issue-labels: 'bug,enhancement,good first issue,help wanted'
          days-before-pr-stale: -1  # no PR will be marked as 'stale'
