name: pull-request

on:
  pull_request:
    branches:
      - main
      - release
    paths-ignore:
      - '**.md'

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
  cross-build:
    uses: ./.github/workflows/cross-build.yml
    secrets: inherit
  coverage:
    needs:
      - build
      - cross-build
    uses: ./.github/workflows/coverage.yml
    secrets: inherit
