name: tools

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version in format <major>.<minor>
        required: false
        type: string
      branch:
        description: Branch to use
        required: true
        type: choice
        options:
          - main
          - release

env:
  DEBIAN_CODENAME: trixie

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
      - name: Setup QEMU user-mode emulation
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
          # See https://github.com/docker/build-push-action/issues/654#issuecomment-1285190151
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 1
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        run: |
          if [ -e ./scripts/update-tools-images.sh ]
          then
            sh ./scripts/update-tools-images.sh --no-cache --push ${{ env.DEBIAN_CODENAME }} ${{ inputs.version }}
          else
            ./scripts/update-tools-images --no-cache --push ${{ env.DEBIAN_CODENAME }} ${{ inputs.version }}
          fi
