name: update

on:
  workflow_call:
    inputs:
      ref-name:
        required: true
        type: string
    outputs:
      num-commits:
        description: >-
          The number of commits made within 24 hours.
        value: ${{ jobs.update.outputs.num-commits }}

jobs:
  update:
    runs-on: ubuntu-latest
    outputs:
      num-commits: ${{ steps.count.outputs.num-commits }}
    steps:
      - uses: raven-actions/bot-details@v1
        id: bot-details
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref-name }}
      - name: git config
        run: |
          git config user.name "${{ steps.bot-details.outputs.name }}"
          git config user.email "${{ steps.bot-details.outputs.email }}"
      - name: Setup QEMU user-mode emulation
        uses: docker/setup-qemu-action@v2
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Update .devcontainer/Dockerfile
        run: |
          ./scripts/update-devcontainer-dockerfile
      - name: Update mirakc-arib
        if: inputs.ref-name == 'main'
        run: |
          LAST_COMMIT=$(git rev-parse HEAD)
          ./scripts/update-mirakc-arib
          if [ "$(git rev-parse HEAD)" != "$LAST_COMMIT" ]
          then
            ./scripts/update-tools-images --push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Push if changed
        run: |
          if git diff --quiet origin/${{ inputs.ref-name }}..HEAD
          then
            echo "No commit to push"
          else
            git push
          fi
      - name: Count commits made within 24 hours
        id: count
        run: |
          NUM_COMMITS=$(git rev-list --count --since '24 hours' ${{ inputs.ref-name }})
          echo "NUM_COMMITS=$NUM_COMMITS"
          echo "num-commits=$NUM_COMMITS" >>$GITHUB_OUTPUT
