name: weekly

on:
  schedule:
    - cron: '19 19 * * 5'  # every Friday

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Always checkout the release branch.
          ref: release
          # Fetch all history for all tags and branches so that `git describe`
          # works properly.
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable  # required for scripts/bump-version
      - name: git config
        run: |
          # https://github.com/orgs/community/discussions/26560#discussioncomment-3252339
          BOT_NAME='github-actions[bot]'
          GOT_ID=$(curl https://api.github.com/users/$(echo -n github-actions[bot] | jq -sRr '@uri') -sG | jq -r '.id')
          git config user.name "$BOT_NAME"
          git config user.email $BOT_ID+$BOT_NAME@users.noreply.github.com"
      - run: |
          TAG="$(git describe --tags --abbrev=0)"
          if git diff --quiet "$TAG"
          then
            echo "Not changed, skip to create new release"
          else
            ./scripts/release patch
            git push
            git push --tags
          fi
