name: weekly

on:
  schedule:
    - cron: '19 19 * * 5'  # every Friday

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Always checkout the release branch.
          ref: release
          # Use PAT in order to invoke other workflows.
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          # Fetch all history for all tags and branches so that `git describe`
          # works properly.
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable  # required for scripts/bump-version
      - name: git config
        run: |
          # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
          git config user.name github-actions
          git config user.email github-actions@github.com
      - run: |
          TAG="$(git describe --tags --abbrev=0)"
          if git diff --quiet "$TAG"
          then
            echo "Not changed, skip to create new release"
          else
            ./scripts/release patch
            git push
            git push --tags
          fi
